<?xml version="1.0"?>
<packager>
	<configuration>
		<settings>
			<rootfolder>/Packager.NET WebForms Example</rootfolder>
			<cachefolder>/Cache</cachefolder>
			<debug>false</debug>
			<compress>false</compress>
			<optimise>false</optimise>
		</settings>
		<javascript>
			<package name="Core">/JS/mootools-core</package>
			<package name="More">/JS/mootools-more</package>
		</javascript>
		<css>
			<package name="CSS">/CSS</package>
		</css>
	</configuration>
</packager>