<?xml version="1.0"?>
<configuration>
	<settings>
		<rootfolder>/Packager.NET WebForms Example</rootfolder>
		<cachefolder>/Cache</cachefolder>
		<debug>true</debug>
		<compress>true</compress>
		<optimise>false</optimise>
	</settings>
	<javascript>
		<package name="Core">/JS/mootools-core</package>
		<package name="More">/JS/mootools-more</package>
	</javascript>
	<css>
		<package name="CSS">/CSS</package>
	</css>
</configuration>
